<div class="text-field">
  <%= form.label :email %>
  <%= form.text_field :email, type: 'email' %>
</div>

<div class="password-field">
  <%= form.label :password %>
  <%= form.password_field :password %>
</div>

<div class="timezone-field">
  <%= form.label :time_zone %>
  <%= form.time_zone_select :time_zone %>
</div>
